.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 40px;
    text-align: center;
    background-color: rgb(254, 237, 216);
}
.hades{
    padding: 20px;
}
.binary{
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(240, 117, 23);
}
.summary{

}
.resize {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 820px) {
    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding:5px;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 3em;
    }
    .aboutme{
        font-size: 2em;
        padding-bottom: 30px;
    }

}
@media (max-width:375px){
    .gridContainer{
    grid-template-rows: 1fr 1fr;
    font-size: .5em;
    }
    .hades, .binary {
        display:none;
    }
}