body {
    font-family: Arial, sans-serif;
    background-color: rgb(254, 237, 216);
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: inline-block;
  }
  
  input,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    width: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 117, 23);
    color: #fff;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background-color: #ccc;
    color: black;
    margin-right: 10px;
  }
  
  @media (max-width: 820px) { 
    form {
      max-width: 500px;
      padding: 10px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 576px) { 
    form {
      max-width: 400px;
      padding: 10px;
      padding-right: 17px;
    }
  
    label {
      font-size: 0.9em;
    }
  
    input,textarea {
      font-size: 0.9em;
      padding: 8px;
    }
  
    button {
      font-size: 1em;
      padding: 8px 16px;
    }
  }